<main class="archive">
    <aside class="sidebar">
      <ul class="menu-container">
          <li class="menu-option">
              <a class="menu-link" href="/">Home</a>
          </li>
          <li class="menu-option">
              <a class="menu-link" href="/admin/pieces">Back to Pieces</a>
          </li>
          <li class="menu-option">
              <a class="menu-link" href="/admin/pieces/<%= @item.piece.catalogue_number %>/edit">Back to <%= @item.piece.catalogue_number %></a>
          </li>
          <hr>
      </ul>
    </aside>
    <article class="col col-4-5">
        <h2>Edit Item</h2>
        <p>
          Edit item '<%= @item.name %>'. Which belongs to piece <em>'<%= @item.piece.product_name %>'</em>, Catalogue number '<%= @item.piece.catalogue_number %>'
        </p>
        <hr>
        <form class="pure-form pure-form-aligned" action="/admin/items/<%= @item.id %>" accept-charset="UTF-8" enctype="multipart/form-data" method="post" onsubmit="alert('If you have changed this items name please reupload the asset')">
            <%= csrf_tag %>
            <input type="hidden" name="_method" value="PUT">
            <fieldset>

                <div class="pure-control-group">
                    <label for="item_name">Name</label>
                    <input
                        id="item_name"
                        name="item[name]"
                        type="text"
                        required
                        value="<%= @item.name %>"
                        placeholder="">
                </div>

                <div class="pure-control-group">
                    <label for="item_initial_price">Initial Price (£)</label>
                    <input
                        id="item_initial_price"
                        name="item[initial_price]"
                        type="number"
                        min="0"
                        step="0.01"
                        required
                        value="<%= @item.initial_price %>"
                        placeholder="initial price">
                </div>

                <div class="pure-control-group">
                    <label for="item_discounted_price">Discounted Price (£)</label>
                    <input
                        id="item_discounted_price"
                        name="item[discounted_price]"
                        type="number"
                        min="0"
                        step="0.01"
                        value="<%= @item.discounted_price %>"
                        placeholder="discounted price">
                </div>

                <hr>

                <p>
                  NB if changing name reupload asset as names are currently assigned on upload
                </p>
                <p>
                  Leave blank to use <a href="<%= @item.asset.url %>" target="_blank">exisiting asset</a>
                </p>
                <input type="file" name="[item][asset]" placeholder="asset">
            </fieldset>

            <hr>

            <div class="pure-controls">
                <button type="submit" class="submit">Submit</button>
            </div>
        </form>
    </article>
</main>
<script charset="utf-8">
var numInput = document.getElementById('item_initial_price');
numInput.addEventListener('blur', function () {
  if (this.value === '') {
      return;
  }
  this.setAttribute('type', 'text');
  if (this.value.indexOf('.') === -1) {
      this.value = this.value + '.00';
  }
  while (this.value.indexOf('.') > this.value.length - 3) {
      this.value = this.value + '0';
  }
});
numInput.addEventListener('focus', function () {
  this.setAttribute('type', 'number');
});
</script>
