<main class="archive">
    <header class="admin">
        <h2 class="left" id="menu-title">
            Customers
            <ul class="dropdown menu-container">
                <li class="menu-option">
                  <a class="menu-link" href="/admin/customers">Customers</a>
                </li>
                <li class="menu-option">
                  <a class="menu-link" href="/admin/pieces">Pieces</a>
                </li>
                <li class="menu-option">
                  <a class="menu-link" href="/admin/discounts">Discounts</a>
                </li>
                <li class="menu-option">
                  <a class="menu-link" href="/admin/shopping_baskets">Shopping Baskets</a>
                </li>
                <li class="menu-option">
                  <a class="menu-link" href="/admin/orders">Orders</a>
                </li>
            </ul>
        </h2>
    </header>
    <header class="admin">
        <form class="right" action="/admin/customers" method="get">
            <button class="action" name="page" value="1" <%= 'disabled' unless @customers.previous_page %>>First Page</button>
            <button class="action" name="page" value="<%= @customers.previous_page %>" <%= 'disabled' unless @customers.previous_page %>>Previous</button>
            <select class="action" name="page_size">
                <option <%= 'selected' if @customers.page_size == 10 %>>10</option>
                <option <%= 'selected' if @customers.page_size == 15 %>>15</option>
                <option <%= 'selected' if @customers.page_size == 20 %>>20</option>
            </select>
            <button class="action" name="page" value="1">Refresh</button>
            <button class="action" name="page" value="<%= @customers.next_page %>" <%= 'disabled' unless @customers.next_page %>>Next</button>
            <button class="action" name="page" value="<%= @customers.page_count %>" <%= 'disabled' unless @customers.next_page %>>Last Page</button>
        </form>
    </header>
    <table class="index">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>email</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>
            <% @customers.each_with_index do |customer, i| %>
                <tr class="<%= i % 2 == 0 ? 'odd' : 'even' %>">
                    <th>
                        <a href="/customers/<%= customer.id %>"><%= customer.id %></a>
                    </th>
                    <th>
                        <%= customer.name %>
                    </th>
                    <th>
                        <%= customer.email %>
                    </th>
                    <th>
                        <% if customer.admin? %>
                        <form class="button" id="form_id" action="/admin/customers/<%= customer.id %>/admin" method="post" onsubmit="return confirm('Are you sure you want to remove <%= customer.name %> from admin')">
                            <%= csrf_tag %>
                            <input type="hidden" name="_method" value="DELETE">
                            <input class="edit" type="submit" name="some_name" value="Remove Admin">
                        </form>
                        <% else %>
                        <form class="button" id="form_id" action="/admin/customers/<%= customer.id %>/admin" method="post" onsubmit="return confirm('Are you sure you want to make <%= customer.name %> and admin')">
                            <%= csrf_tag %>
                            <input class="submit" type="submit" name="some_name" value="Make Admin">
                        </form>
                        <% end %>
                    </th>
                </tr>
            <% end %>
        </tbody>
    </table>
</main>
