<main class="archive">
    <header class="admin">
        <h2 class="left">Customers</h2>
    </header>
    <header class="admin">
        <form class="right" action="/admin/customers" method="get">
            <button class="action" name="page" value="1" <%= 'disabled' unless @customers.prev_page %>>First Page</button>
            <button class="action" name="page" value="<%= @customers.prev_page %>" <%= 'disabled' unless @customers.prev_page %>>Previous</button>
            <select class="action" name="page_size">
                <option <%= 'selected' if @customers.page_size == 10 %>>10</option>
                <option <%= 'selected' if @customers.page_size == 15 %>>15</option>
                <option <%= 'selected' if @customers.page_size == 20 %>>20</option>
            </select>
            <button class="action" name="page" value="1">Refresh</button>
            <button class="action" name="page" value="<%= @customers.next_page %>" <%= 'disabled' unless @customers.next_page %>>Next</button>
            <button class="action" name="page" value="<%= @customers.page_count %>" <%= 'disabled' unless @customers.next_page %>>Last Page</button>
        </form>
    </header>
    <table class="index">
        <thead>
            <tr>
                <th>Customer</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>email</th>
                <th colspan=2>Action</th>
            </tr>
        </thead>

        <tbody>
            <% @customers.each_with_index do |customer, i| %>
                <tr class="<%= i % 2 == 0 ? 'odd' : 'even' %>">
                    <th>
                        <a href="/customers/<%= customer.id %>"><%= customer.id %></a>
                    </th>
                    <th>
                        <%= customer.first_name %>
                    </th>
                    <th>
                        <%= customer.last_name %>
                    </th>
                    <th>
                        <%= customer.email %>
                    </th>
                    <th>
                        <a class="edit" href="/customers/<%= customer.id %>/edit">edit</a>
                    </th>
                    <th>
                        <form id="form_id" action="/customers/<%= customer.id %>" method="post" onsubmit="return confirm('Are you sure you want to destroy <%= customer.name %> ')">
                            <%= csrf_tag %>
                            <input type="hidden" name="_method" value="DELETE">
                            <input class="destroy" type="submit" name="some_name" value="Destroy">
                        </form>
                    </th>
                </tr>
            <% end %>
        </tbody>
    </table>
</main>
