<main class="content">
    <aside>
      <ul>
        <li>
          <a href="/pieces/new">New Piece</a>
        </li>
        <li>
          <a href="/">Back</a>
        </li>
      </ul>
    </aside>
    <article >

        <table class="pure-table">
            <thead>
                <tr>
                    <th>Catalogue number</th>
                    <th>Title</th>
                    <th>Sub heading</th>
                    <th>Category</th>
                    <th colspan=3>Action</th>
                </tr>
            </thead>

            <tbody>
                <% pieces.each do |piece| %>
                    <tr>
                        <th>
                            UD<%= piece.id %>
                        </th>
                        <th>
                            <%= piece.title %>
                        </th>
                        <th>
                            <%= piece.sub_heading %>
                        </th>
                        <th>
                            <%= piece.category %>
                        </th>
                        <th>
                            <a href="/pieces/<%= piece.id %>">show</a>
                        </th>
                        <th>
                            <a href="/pieces/UD<%= piece.id %>/edit">edit</a>
                        </th>
                        <th>
                            <form id="form_id" action="/pieces/<%= piece.id %>" method="post" onsubmit="return confirm('Are you sure you want to destroy UD<%= piece.id %> and <%= piece.item_records.count %> associated items?')">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="submit" name="some_name" value="Destroy">
                            </form>
                        </th>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </article>
</main>
