<% if show_admin %>
    <section class="admin content">
        <a href="<%= incognito_uri %>" class="pure-button button-primary right"><i class="fa fa-eye-slash"></i> Incognito</a>
        <a href="/pieces/new" class="pure-button button-success right"><i class="fa fa-cog"></i> New</a>
    </section>
<% end %>
<main class="content">
    <aside id="search" class="col col-1-5">
      <form id="search-form" class="pure-form" action="/pieces" method="get" id="search-form">
          <h4>Category</h4>
          <% [:solo,
          :solo_with_accompaniment,
          :duet,
          :trio,
          :quarter,
          :larger_ensembles].each do |category| %>
              <label class="pure-checkbox">
                  <input type="checkbox" name="catalogue_search[<%= category %>]" <%= 'checked' if @search.public_send category %>>
                  <%= category.capitalize %>
              </label>
          <% end %>
          <h4>Level</h4>
          <% [:beginner,
          :intermediate,
          :advanced,
          :professional].each do |level| %>
              <label class="pure-checkbox">
                  <input type="checkbox" name="catalogue_search[<%= level %>]" <%= 'checked' if @search.public_send level %>>
                  <%= level.capitalize %>
              </label>
          <% end %>
          <h4>Instrument</h4>
          <% [:piano,
          :recorder,
          :flute,
          :oboe,
          :clarineo,
          :clarinet,
          :basson,
          :saxophone,
          :trumpet,
          :violin,
          :viola,
          :percussion].each do |instrument| %>
              <label class="pure-checkbox">
                  <input type="checkbox" name="catalogue_search[<%= instrument %>]" <%= 'checked' if @search.public_send instrument %>>
                  <%= instrument.capitalize %>
              </label>
          <% end %>
          <button type="submit" class="pure-button right">Search</button>
          <a href="/pieces" class="right">clear search</a>
      </form>
    </aside>
    <article class="col col-4-5">
        <h2>Pieces</h2>
        <button form="search-form" name="catalogue_search[page]" value="1" <%= 'disabled' unless @pieces.previous_page %>>First Page</button>
        <button form="search-form" name="catalogue_search[page]" value="<%= @pieces.previous_page %>" <%= 'disabled' unless @pieces.previous_page %>>Previous</button>
        <select form="search-form" name="catalogue_search[page_size]">
            <option <%= 'selected' if @pieces.page_size == 10 %>>10</option>
            <option <%= 'selected' if @pieces.page_size == 15 %>>15</option>
            <option <%= 'selected' if @pieces.page_size == 20 %>>20</option>
        </select>
        <button form="search-form" name="catalogue_search[page]" value="1">Refresh</button>
        <button form="search-form" name="catalogue_search[page]" value="<%= @pieces.next_page %>" <%= 'disabled' unless @pieces.next_page %>>Next</button>
        <button form="search-form" name="catalogue_search[page]" value="<%= @pieces.page_count %>" <%= 'disabled' unless @pieces.next_page %>>Last Page</button>
        <%= @pieces.page_count %>
        <table>
            <thead>
                <tr>
                    <th>Catalogue number</th>
                    <th>Product name</th>
                    <th>Category</th>
                    <th>Instruments</th>
                    <th>Levels</th>
                </tr>
            </thead>

            <tbody>
                <% @pieces.each do |piece| %>
                    <tr>
                        <th>

                            <a href="/pieces/<%= piece.id %>"><%= piece.catalogue_number %></a>
                        </th>
                        <th>
                            <%= piece.product_name %>
                        </th>
                        <th>
                            <%= piece.categories.join('<br>') %>
                        </th>
                        <th>
                            <%= piece.instruments.join('<br>') %>
                        </th>
                        <th>
                            <%= piece.levels.join('<br>') %>
                        </th>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </article>
</main>
