<div class="hide-for-large-up">
  <div class="row collapse">
    <div class="mob-menu-wrap" onclick="document.getElementById('filter-display').style.display = 'block'">
      <h3 style="float: left; color: white;">
        Search Filter
      </h3>
      <i class="fa fa-reorder" style="float: left; margin-left: 0.5em; color: white; font-size: 2em;"></i>
    </div>
  </div>
</div>


<div class="row collapse white-section section-bottom-margin">
    <!-- FILTER FORM LEFT -->
    <div class="large-3 medium-12 columns">
          <div id="filter-display" class="filter-wrap">
            <div class="hide-for-large-up">
              <button onclick="document.getElementById('filter-display').style.display = 'none'">Hide Filter</button>
            </div>
            <h1>Search Filter</h1>
            <p>Refine your search by selecting and<br> combining categories:</p>
            <div class="filter-form">
                <form id="search-form" action="/pieces" method="get">
                    <div class="filter-head">
                        <h2>SELECT INSTRUMENT(s)</h2>
                    </div>
                    <div class="row collapse">
                        <% [:piano,
                        :recorder,
                        :flute,
                        :oboe,
                        :clarineo,
                        :clarinet,
                        :bassoon,
                        :saxophone,
                        :trumpet,
                        :violin,
                        :viola,
                        :percussion].each do |instrument| %>
                            <label class="pure-checkbox">
                                <input type="checkbox" name="catalogue_search[<%= instrument %>]" <%= 'checked' if @search.public_send instrument %>>
                                <%= instrument.capitalize %>
                            </label>
                        <% end %>
                    </div>

                    <div class="filter-head">
                        <h2>SELECT LEVEL(s)</h2>
                    </div>
                    <div class="row collapse">
                        <% [:beginner,
                        :intermediate,
                        :advanced,
                        :professional].each do |level| %>
                            <label class="pure-checkbox">
                                <input type="checkbox" name="catalogue_search[<%= level %>]" <%= 'checked' if @search.public_send level %>>
                                <%= level.capitalize %>
                            </label>
                        <% end %>
                    </div>
                    <div class="filter-head">
                        <h2>SELECT SCORE TYPE(s)</h2>
                    </div>
                    <% [:solo,
                    :solo_with_accompaniment,
                    :duet,
                    :trio,
                    :quartet,
                    :larger_ensembles].each do |category| %>
                        <label class="pure-checkbox">
                            <input type="checkbox" name="catalogue_search[<%= category %>]" <%= 'checked' if @search.public_send category %>>
                            <%= category.to_s.capitalize.gsub('_', ' ') %>
                        </label>
                    <% end %>
                    <button class="search-btn" type="submit">SEARCH<i class="fa fa-search search-filter-icon"></i></button>
                    <a class="clear-search-btn" href="/pieces" class="right">Clear Search</a>
                </form>
            </div>
        </div>
    </div>
    <!-- END OF FILTER FORM -->

    <!-- SEARCH RESULTS RIGHT -->

    <div class="large-9 columns">
        <div class="search-bar-filter">
            <div class="search-bar-filter-inner">
                <button form="search-form" name="catalogue_search[page]" value="1" style="border: 0em;" <%= 'disabled' unless @pieces.previous_page %>>First Page</button>
                <button form="search-form" name="catalogue_search[page]" value="<%= @pieces.previous_page %>" <%= 'disabled' unless @pieces.previous_page %>>Previous Page</button>
                <select form="search-form" name="catalogue_search[page_size]" >
                    <option <%= 'selected' if @pieces.page_size == 10 %>>12</option>
                    <option <%= 'selected' if @pieces.page_size == 15 %>>18</option>
                    <option <%= 'selected' if @pieces.page_size == 20 %>>24</option>
                </select>
                <button form="search-form" name="catalogue_search[page]" value="1" style="border: 0em;">Refresh</button>
                <button form="search-form" name="catalogue_search[page]" value="<%= @pieces.next_page %>" <%= 'disabled' unless @pieces.next_page %>>Next Page</button>
                <button form="search-form" name="catalogue_search[page]" value="<%= @pieces.page_count %>" <%= 'disabled' unless @pieces.next_page %>>Last Page</button>
                <!-- <p>Results Per Page</p> -->
                <p>
                  Page <%= @pieces.current_page %> of <%= @pieces.page_count %>
                </p>
            </div>
        </div>
        <ul class="small-block-grid-3">
            <% @pieces.each do |piece| %>
            <li>
                <div class="product-wrap">
                    <div class="title-wrap">
                        <h4><%= piece.title %></h4>
                    </div>
                    <div class="product-info-wrap">
                        <p><%= piece.sub_heading.upcase.gsub('é', 'E') %></p>
                    </div>
                    <div class="row collapse">
                        <div class="large-6 columns product-main">
                            <p><%= piece.catalogue_number %></p>
                            <p>LEVEL <%= piece.level_overview %></p>
                            <hr class="prod-break">
                            <a href="/pieces/<%= piece.catalogue_number %>?autoplay=true"><h6><i class="fa fa-play prod-icon-cstm"></i>LISTEN</h6></a>
                            <a href="<%= piece.notation_preview.url %>" target="_blank"><h6><i class="fa fa-music prod-icon-cstm"></i>SEE SCORE</h6></a>
                            <a href="/pieces/<%= piece.catalogue_number %>">
                                <button>Full Details</button>
                            </a>
                        </div>
                        <div class="large-6 columns product-main">
                            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/183581/UD96-98x137.jpg">
                        </div>
                    </div>

                </div>
            </li>
            <% end %>
        </ul>

        <div class="search-bar-filter">
            <!-- <div class="search-bar-filter-inner">
                <button form="search-form" name="catalogue_search[page]" value="1" style="border: 0em;">First Page</button>
                <button form="search-form" name="catalogue_search[page]" value="" >Previous Page</button>
                <select form="search-form" name="catalogue_search[page_size]" >
                    <option selected="">10</option>
                    <option>15</option>
                    <option>20</option>
                </select>
                <button form="search-form" name="catalogue_search[page]" value="1" style="border: 0em;">Refresh</button>
                <button form="search-form" name="catalogue_search[page]" value="2">Next Page</button>
                <button form="search-form" name="catalogue_search[page]" value="4">Last Page</button>
                <p>Results Per Page</p>
            </div> -->
        </div>
    </div>

    <!-- END SEARCH RESULTS -->
</div>
