<a href="/pieces">Back</a>
<a href="/">Home</a>
<h1><%= "UD#{@piece.id}: " %><%= @piece.title %></h1>
<h2><%= @piece.sub_heading %></h2>
<p>
  <%= @piece.description %>
</p>
  <%= @piece.category %>
  <br>
<a href="<%= @piece.notation_preview.url %>" target="_blank">pdf preview</a>
<br>
<audio preload="auto" controls>
    <source src="<%= @piece.audio_preview.url %>" type="audio/mpeg">
</audio>
<br>
<img src="<%= @piece.cover_image.url %>" alt="" />
<hr>
<form id="form_id" action="/basket/add_purchases" method="post">

<% @piece.item_records.each do |item| %>
  <input type="number" min="0" name="purchases[][quantity]" value="">
  <input type="hidden" name="purchases[][item_id]" value="<%= item.id %>">
  <%= item.name %>
<% end %>
<input type="submit" value="Add To basket">
<br>
<br>
<br>
</form>
