<h1><%= @piece.title %></h1>
<h2><%= @piece.description %></h2>

<a href="<%= @piece.notation_preview.url %>" target="_blank">pdf preview</a>
<br>
<audio preload="auto" controls>
    <source src="<%= @piece.audio_preview.url %>" type="audio/mpeg">
</audio>
<br>
<img src="<%= @piece.cover_image.url %>" alt="" />
