<main class="content">
    <aside id="">
      <ul>
          <li>
              <a href="/">Home</a>
          </li>
      </ul>
    </aside>
    <article>
        <h2><%= @customer.name %>: Edit Account</h2>
        <!-- TODO remove no validate -->
        <form novalidate class="pure-form pure-form-aligned" action="/customers/<%= @customer.id %>" accept-charset="UTF-8" enctype="multipart/form-data" method="post">
            <input type="hidden" name="_method" value="PUT">
            <fieldset>

                <div class="pure-control-group">
                    <label for="customer_first_name">first name</label>
                    <input
                        id="customer_first_name"
                        name="customer[first_name]"
                        type="text"
                        value="<%= @customer.first_name %>"
                        required
                        placeholder="">
                </div>

                <div class="pure-control-group">
                    <label for="customer_last_name">last name</label>
                    <input
                        id="customer_last_name"
                        name="customer[last_name]"
                        type="text"
                        value="<%= @customer.last_name %>"
                        required
                        placeholder="">
                </div>

                <div class="pure-control-group">
                    <label for="customer_email">email</label>
                    <input
                        id="customer_email"
                        name="customer[email]"
                        value="<%= @customer.email %>"
                        type="email"
                        required
                        placeholder="">
                </div>

                <div class="pure-control-group">
                    <label for="customer_country">Country</label>
                    <select
                        id="customer_country"
                        name="customer[country]"
                        value="<%= @customer.country %>"
                        required>
                        <option value>-- country --</option>
                        <% Country.all.sort_by!{ |c| c.first.downcase }.each do |name, code| %>
                            <option
                                value="<%= code %>"
                                <%= 'selected' if code == @customer.country %>>
                                <%= name %>
                            </option>
                        <% end %>
                    </select>
                </div>


                <div class="pure-controls">
                    <button type="submit" class="pure-button pure-button-primary">Submit</button>
                </div>
            </fieldset>
        </form>
    </article>
</main>
