
<div class="row collapse white-section section-bottom-margin">
    <!-- FILTER FORM LEFT -->
    <%= render :'_account_sidebar' %>

    <div class="large-9 columns">
        <div class="search-bar-filter">
            <div class="search-bar-filter-inner">
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <form class="pure-form pure-form-aligned" action="/customers/<%= @customer.id %>" accept-charset="UTF-8" enctype="multipart/form-data" method="post">
                    <%= csrf_tag %>
                    <input type="hidden" name="_method" value="PUT">
                    <fieldset>
                    <h4>Edit Account</h4>
                        <div class="row">
                            <div class="large-4 columns large-offset-2 <%= 'error' if @validator.errors.on(:first_name) %>">
                                <label>First Name
                                    <input
                                        id="customer_first_name"
                                        name="customer[first_name]"
                                        type="text"
                                        value="<%= @customer.first_name %>"
                                        required
                                        placeholder="">
                                </label>
                                <% if @validator.errors.on(:first_name) %>
                                    <small class="error"><%= @validator.errors.on(:first_name) %></small>
                                <% end %>
                            </div>
                            <div class="large-4 columns end <%= 'error' if @validator.errors.on(:last_name) %>">
                                <label>Last Name
                                    <input
                                        id="customer_last_name"
                                        name="customer[last_name]"
                                        type="text"
                                        value="<%= @customer.last_name %>"
                                        required
                                        placeholder="">
                                </label>
                                <% if @validator.errors.on(:last_name) %>
                                    <small class="error"><%= @validator.errors.on(:last_name) %></small>
                                <% end %>
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-4 columns large-offset-2 <%= 'error' if @validator.errors.on(:email) %>">
                                <label>Email
                                    <input
                                        id="customer_email"
                                        name="customer[email]"
                                        type="email"
                                        value="<%= @customer.email %>"
                                        required
                                        placeholder="">
                                </label>
                                <% if @validator.errors.on(:email) %>
                                    <small class="error"><%= @validator.errors.on(:email) %></small>
                                <% end %>
                            </div>
                            <div class="large-4 columns end <%= 'error' if @validator.errors.on(:country) %>">
                                <label>Country
                                    <select
                                        id="customer_country"
                                        name="customer[country]"
                                        required>
                                        <option value>-- country --</option>
                                        <% Country.all.sort_by!{ |c| c.first.downcase }.each do |name, code| %>
                                            <option value="<%= code %>" <%= 'selected' if @customer.country && code == @customer.country.alpha2 %>><%= name %></option>
                                        <% end %>
                                    </select>
                                </label>
                                <% if @validator.errors.on(:country) %>
                                    <small class="error"><%= @validator.errors.on(:country) %></small>
                                <% end %>
                            </div>
                        </div>
                        <div class="row">
                            <!-- <div class="large-5 columns large-offset-2">
                                <span></span>
                            </div> -->
                            <div class="large-offset-7 large-3 columns end">
                                <button type="submit" class="right">Submit</button>
                            </div>
                        </div>

                    </fieldset>

                    <fieldset>
                        <h4 id="customer-questions">Tell us about your music?</h4>

                        <div class="row">
                            <div class="large-8 large-offset-2 end">
                                <label for="customer_question_1">Which instrument do you play?</label>
                                <input
                                    id="customer_question_1"
                                    name="customer[question_1]"
                                    type="text"
                                    value="<%= @customer.question_1 %>"
                                    placeholder="">
                            </div>
                        </div>

                        <div class="row">
                            <div class="large-8 large-offset-2 end">
                                <label for="customer_question_2">Question 2</label>
                                <select id="customer_question_2" name="customer[question_2]">
                                    <option value>Please Select</option>
                        						<% ['Yes - mostly in schools',
                        						'Yes - mostly in music centres',
                        						'Yes - mostly private tuition',
                        						'Yes - mostly ensembles',
                        						'I have taught in the past',
                        						'No'].each do |answer| %>
                                        <option <%= 'selected' if answer == @customer.question_2 %> ><%= answer %></option>
                                    <% end %>
              					</select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="large-8 large-offset-2 end">
                                <label for="customer_question_3">How did you hear about us?</label>
                                <select id="customer_question_3" name="customer[question_3]">
                                    <option value>Please Select</option>
                        						<% ['Google search',
                                    'In a magazine or other printed publication',
                                    'Facebook page',
                                    'Twitter',
                                    'YouTube video',
                                    'Purchased a Nuvo Instrument',
                                    'Friend/colleague recommendation',
                                    'Teacher recommendation',
                                    'Through a music exam board',
                                    'Through a music shop',
                                    'Through a music society',
                                    'On another website',
                                    'Other'].each do |answer| %>
                                        <option <%= 'selected' if answer == @customer.question_3 %> ><%= answer %></option>
                                    <% end %>
              					</select>
                            </div>
                        </div>
                        <div class="row">
                            <!-- <div class="large-5 columns large-offset-2">
                                <span></span>
                            </div> -->
                            <div class="large-offset-7 large-3 columns end">
                                <button type="submit" class="right">Submit</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
