<main class="content">
    <aside>
      <ul>
        <li>
          <a href="/customers/new">New Customer</a>
        </li>
        <li>
          <a href="/">Back</a>
        </li>
      </ul>
    </aside>
    <article>
        <h2>Customers</h2>
        <p>
          Add Pagination
        </p>
        <table class="pure-table">
            <thead>
                <tr>
                    <th>Customer</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>email</th>
                    <th colspan=3>Action</th>
                </tr>
            </thead>

            <tbody>
                <% @customers.each do |customer| %>
                    <tr>
                        <th>
                            <%= customer.id %>
                        </th>
                        <th>
                            <%= customer.first_name %>
                        </th>
                        <th>
                            <%= customer.last_name %>
                        </th>
                        <th>
                            <%= customer.email %>
                        </th>
                        <th>
                            <a href="/customers/<%= customer.id %>">show</a>
                        </th>
                        <th>
                            <a href="/customers/<%= customer.id %>/edit">edit</a>
                        </th>
                        <th>
                            <form id="form_id" action="/customers/<%= customer.id %>" method="post" onsubmit="return confirm('Are you sure you want to destroy <%= customer.name %> ')">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="submit" name="some_name" value="Destroy">
                            </form>
                        </th>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </article>
</main>
