<main class="content">
    <aside class="col col-1-5">
      <ul>
        <li>
          <a href="/customers/new">New Customer</a>
        </li>
        <li>
          <a href="/">Back</a>
        </li>
      </ul>
    </aside>
    <article class="col col-4-5">
        <h2>Customers</h2>
        <form class="" action="/customers" method="get">
            <%= csrf_tag %>
            <button name="page" value="1">First Page</button>
            <button name="page" value="<%= @customers.prev_page %>" <%= 'disabled' unless @customers.prev_page %>>Previous</button>
            <select name="page_size">
                <option <%= 'selected' if @customers.page_size == 10 %>>10</option>
                <option <%= 'selected' if @customers.page_size == 15 %>>15</option>
                <option <%= 'selected' if @customers.page_size == 20 %>>20</option>
            </select>
            <button name="page" value="1">Refresh</button>
            <button name="page" value="<%= @customers.next_page %>" <%= 'disabled' unless @customers.next_page %>>Next</button>
            <button name="page" value="<%= @customers.page_count %>">Last Page</button>
        </form>
        <table class="pure-table">
            <thead>
                <tr>
                    <th>Customer</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>email</th>
                    <th colspan=3>Action</th>
                </tr>
            </thead>

            <tbody>
                <% @customers.each do |customer| %>
                    <tr>
                        <th>
                            <%= customer.id %>
                        </th>
                        <th>
                            <%= customer.first_name %>
                        </th>
                        <th>
                            <%= customer.last_name %>
                        </th>
                        <th>
                            <%= customer.email %>
                        </th>
                        <th>
                            <a href="/customers/<%= customer.id %>">show</a>
                        </th>
                        <th>
                            <a href="/customers/<%= customer.id %>/edit">edit</a>
                        </th>
                        <th>
                            <form id="form_id" action="/customers/<%= customer.id %>" method="post" onsubmit="return confirm('Are you sure you want to destroy <%= customer.name %> ')">
                                <%= csrf_tag %>
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="submit" name="some_name" value="Destroy">
                            </form>
                        </th>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </article>
</main>
