<div class="row collapse">
    <div class="large-12 columns promo-banner">
        <h2>Create Account</h2>
    </div>
</div>
<div class="row collapse">
    <div class="large-12 columns">
        <form class="" action="/customers?success_path=<%= success_path %>" accept-charset="UTF-8" enctype="multipart/form-data" method="post">
            <%= csrf_tag %>
            <fieldset>
                <div class="row">
                    <div class="large-4 columns large-offset-2 <%= 'error' if @validator.errors.on(:first_name) %>">
                        <label>First Name
                            <input
                                id="customer_first_name"
                                name="customer[first_name]"
                                type="text"
                                value="<%= @form.first_name %>"
                                required
                                placeholder="">
                        </label>
                        <% if @validator.errors.on(:first_name) %>
                            <small class="error"><%= @validator.errors.on(:first_name) %></small>
                        <% end %>
                    </div>
                    <div class="large-4 columns end <%= 'error' if @validator.errors.on(:last_name) %>">
                        <label>Last Name
                            <input
                                id="customer_last_name"
                                name="customer[last_name]"
                                type="text"
                                value="<%= @form.last_name %>"
                                required
                                placeholder="">
                        </label>
                        <% if @validator.errors.on(:last_name) %>
                            <small class="error"><%= @validator.errors.on(:last_name) %></small>
                        <% end %>
                    </div>
                </div>
                <div class="row">
                    <div class="large-4 columns large-offset-2 <%= 'error' if @validator.errors.on(:email) %>">
                        <label>Email
                            <input
                                id="customer_email"
                                name="customer[email]"
                                type="email"
                                value="<%= @form.email %>"
                                required
                                placeholder="">
                        </label>
                        <% if @validator.errors.on(:email) %>
                            <small class="error"><%= @validator.errors.on(:email) %></small>
                        <% end %>
                    </div>
                    <div class="large-4 columns end <%= 'error' if @validator.errors.on(:country) %>">
                        <label>Country
                            <select
                                id="customer_country"
                                name="customer[country]"
                                required>
                                <option value>-- country --</option>
                                <% Country.all.sort_by!{ |c| c.first.downcase }.each do |name, code| %>
                                    <option value="<%= code %>" <%= 'selected' if @form.country && code == @form.country.alpha2 %>><%= name %></option>
                                <% end %>
                            </select>
                        </label>
                        <% if @validator.errors.on(:country) %>
                            <small class="error"><%= @validator.errors.on(:country) %></small>
                        <% end %>
                    </div>
                </div>

                <div class="row">
                    <div class="large-4 columns large-offset-2 <%= 'error' if @validator.errors.on(:password) %>">
                        <label>Password
                            <input
                                id="customer_password"
                                name="customer[password]"
                                type="password"
                                required
                                placeholder="">
                        </label>
                        <% if @validator.errors.on(:password) %>
                            <small class="error"><%= @validator.errors.on(:password) %></small>
                        <% end %>
                    </div>
                    <div class="large-4 columns end <%= 'error' if @validator.errors.on(:password_confirmation) %>">
                        <label>Password confirmation
                            <input
                                id="customer_password_confirmation"
                                name="customer[password_confirmation]"
                                type="password"
                                required
                                placeholder="">
                        </label>
                        <% if @validator.errors.on(:password_confirmation) %>
                            <small class="error"><%= @validator.errors.on(:password_confirmation) %></small>
                        <% end %>
                    </div>
                </div>
                <div class="row">
                    <div class="large-5 columns large-offset-2">
                        <a href="/sessions/new">Have Account?</a><br>
                    </div>
                    <div class="large-3 columns end">
                        <label for="customer_agreement" class="right">
                            <input id="customer_agreement" name="customer[terms_agreement]" type="checkbox" required> I've read the <a href="/about/terms_and_conditions" target="_blank">terms and conditions</a>
                        </label>
                        <button style="margin-top: 1.5em;" type="submit" class="right">Submit</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
