<main class="content">
    <aside id="">
      <ul>
          <li>
              <a href="/">Home</a>
          </li>
      </ul>
    </aside>
    <article>
        <h2>Create Account</h2>
        <!-- TODO remove no validate -->
        <form novalidate class="pure-form pure-form-aligned" action="/customers" accept-charset="UTF-8" enctype="multipart/form-data" method="post">
            <fieldset>
                <% @validator.errors.full_messages.each do |message| %>
                    <div class="pure-control-group">
                        <label></label>
                        <span class="errors"><%= message.gsub('_', ' ').capitalize %></span>
                    </div>
                <% end %>
                <div class="pure-control-group">
                    <label for="customer_first_name">first name</label>
                    <input
                        id="customer_first_name"
                        name="customer[first_name]"
                        type="text"
                        value="<%= @form.first_name %>"
                        required
                        placeholder="">
                </div>

                <div class="pure-control-group">
                    <label for="customer_last_name">last name</label>
                    <input
                        id="customer_last_name"
                        name="customer[last_name]"
                        type="text"
                        value="<%= @form.last_name %>"
                        required
                        placeholder="">
                </div>

                <div class="pure-control-group">
                    <label for="customer_email">email</label>
                    <input
                        id="customer_email"
                        name="customer[email]"
                        type="email"
                        value="<%= @form.email %>"
                        required
                        placeholder="">
                </div>

                <div class="pure-control-group">
                    <label for="customer_password">password</label>
                    <input
                        id="customer_password"
                        name="customer[password]"
                        type="password"
                        required
                        placeholder="">
                </div>

                <div class="pure-control-group">
                    <label for="customer_password_confirmation">confirmation</label>
                    <input
                        id="customer_password_confirmation"
                        name="customer[password_confirmation]"
                        type="password"
                        required
                        placeholder="">
                </div>


                <div class="pure-control-group">
                    <label for="customer_country">Country</label>
                    <select
                        id="customer_country"
                        name="customer[country]"
                        required>
                        <option value>-- country --</option>
                        <% Country.all.sort_by!{ |c| c.first.downcase }.each do |name, code| %>
                            <option value="<%= code %>"><%= name %></option>
                        <% end %>
                    </select>
                </div>


                <div class="pure-controls">
                    <label for="cb" class="pure-checkbox">
                        <input id="cb" type="checkbox"> I've read the <a href="/about/terms_and_conditions" target="_blank">terms and conditions</a>
                    </label>
                    <button type="submit" class="pure-button pure-button-primary">Submit</button>
                </div>
            </fieldset>
        </form>
    </article>
</main>
