
<div class="row collapse white-section section-bottom-margin">
  <div class="large-3 columns">
    <!-- FILTER FORM LEFT -->
    <%= render :'_account_sidebar' %>
  </div>

    <div class="large-9 columns">
        <div class="search-bar-filter">
            <div class="search-bar-filter-inner">
            </div>
        </div>
        <div class="orders">
        <h4>Your orders</h4>
        <h6>Your files will be available for 4 days from purchase.</h6>
        <hr>
        </div>
    </div>
</div>

        <div class="row summary-padding">
          <div class="large-12 columns orders">
            <!-- repeat this bit-->
            <div class="row collapse">
              <div class="order-title-wrap">
                <div class="row collapse">
                  <div class="large-6 columns">
                    <h6 class="left-order">12th of January 2015 |  Order ID: 123xxx</h6>
                  </div>
                  <div class="large-6 columns">
                    <h6 class="right-order">Order Expires on 12.12.14</h6>
                  </div>
                </div>
              </div>
              <div class="large-2 columns">
                <div class="order-summary">
                  <h6>Amount</h6>
                  <h6>£12.00</h6>
                  <hr>
                  <h6>Tax</h6>
                  <h6>£2.00</h6>
                  <hr>
                  <h6>License</h6>
                  <a href="/"><h6>Download</h6></a>
                </div>
              </div>
              <div class="large-10 columns">
                <div class="download-wrap">
                  <h6>File Download</h6>
                  <table class="order-table">
                      <thead>
                          <tr>
                              <th>Title</th>
                              <th>Instrument</th>
                              <th>Part</th>
                              <th>File</th>
                          </tr>
                      </thead>
                      <tbody>
                              <tr>
                                  <th>
                                      The Cool Camel
                                  </th>
                                  <th>
                                      Piano and Flute
                                  </th>
                                  <th>
                                      Part 1
                                  </th>
                                  <th>
                                      <a href="/orders/" target="_blank" download>Download</a>
                                  </th>
                              </tr>
                              <tr>
                                  <th>
                                      The Cool Camel
                                  </th>
                                  <th>
                                      Piano and Flute
                                  </th>
                                  <th>
                                      Part 1
                                  </th>
                                  <th>
                                    <a href="/orders/" target="_blank" download>Download</a>
                                  </th>
                              </tr>

                      </tbody>
                  </table>
                </div>
              </div>
            </div>
            <!--DOWN TO HERE-->
            <!-- repeat this bit-->
            <div class="row collapse">
              <div class="order-title-wrap expired">
                <div class="row collapse">
                  <div class="large-6 columns">
                    <h6 class="left-order">12th of January 2015 |  Order ID: 123xxx</h6>
                  </div>
                  <div class="large-6 columns">
                    <h6 class="right-order">Order Expired on 12.12.14</h6>
                  </div>
                </div>
              </div>
              <div class="large-2 columns">
                <div class="order-summary">
                  <h6>Amount</h6>
                  <h6>£12.00</h6>
                  <hr>
                  <h6>Tax</h6>
                  <h6>£2.00</h6>
                  <hr>
                  <h6>License</h6>
                  <a href="/"><h6>Download</h6></a>
                </div>
              </div>
              <div class="large-10 columns">
                <div class="download-wrap">
                  <h6>File Download</h6>
                  <table class="order-table">
                      <thead>
                          <tr>
                              <th>Title</th>
                              <th>Instrument</th>
                              <th>Part</th>
                              <th>File</th>
                          </tr>
                      </thead>
                      <tbody>
                              <tr>
                                  <th>
                                      The Cool Camel
                                  </th>
                                  <th>
                                      Piano and Flute
                                  </th>
                                  <th>
                                      Part 1
                                  </th>
                                  <th class="expired">
                                    Expired - <a href="/">Repurchase</a>
                                  </th>
                              </tr>
                              <tr>
                                  <th>
                                      The Cool Camel
                                  </th>
                                  <th>
                                      Piano and Flute
                                  </th>
                                  <th>
                                      Part 1
                                  </th>
                                  <th class="expired">
                                      Expired - <a href="/">Repurchase</a>
                                  </th>
                              </tr>

                      </tbody>
                  </table>
                </div>
              </div>
            </div>
            <!--DOWN TO HERE-->
          </div>
        </div>
    <!--    <div class="row">
            <div class="large-12 columns orders">
                <h4>Your orders</h4>
                <h6>Your files will be available for 4 days from purchase.</h6>
                <table class="order-table">
                    <thead>
                        <tr>
                            <th>Order ID</th>
                            <th>Basket Amount</th>
                            <th>Tax Amount</th>
                            <th>licence</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @customer.orders.each do |order| %>
                            <tr>
                                <th>
                                    <%= order.id %>
                                </th>
                                <th>
                                    <%= order.basket_total.format %>
                                </th>
                                <th>
                                    <%= order.tax_payment.format %>
                                </th>
                                <th>
                                    <a href="/orders/<%= order.id %>" target="_blank" download>Download</a>
                                </th>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>-->
    </div>
</div>
