
<div class="row collapse white-section section-bottom-margin">
    <!-- FILTER FORM LEFT -->
    <%= render :'_account_sidebar' %>

    <div class="large-9 columns">
        <div class="search-bar-filter">
            <div class="search-bar-filter-inner">
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns orders">
                <h4>Your orders</h4>
                <h6>Your files will be available for 4 days from purchase.  You have [[X hours and X minutes remaining TODO]].</h6>
                <table class="order-table">
                    <thead>
                        <tr>
                            <th>Order ID</th>
                            <th>Basket Amount</th>
                            <th>Tax Amount</th>
                            <th>licence</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @customer.orders.each do |order| %>
                            <tr>
                                <th>
                                    <%= order.id %>
                                </th>
                                <th>
                                    <%= order.basket_total.format %>
                                </th>
                                <th>
                                    <%= order.tax_payment.format %>
                                </th>
                                <th>
                                    <a href="/orders/<%= order.id %>" target="_blank" download>Download</a>
                                </th>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
