
<div class="row collapse white-section section-bottom-margin">
    <!-- FILTER FORM LEFT -->
    <%= render :'_account_sidebar' %>

    <div class="large-9 columns">
        <div class="search-bar-filter">
            <div class="search-bar-filter-inner">
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <h4>Your orders</h4>
                <table class="order-table">
                    <thead>
                        <tr>
                            <th>Order ID</th>
                            <th>State</th>
                            <th>Basket Amount</th>
                            <th>Tax Amount</th>
                            <th>Payer Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @customer.orders.each do |order| %>
                            <tr>
                                <th>
                                    <a href="/orders/<%= order.id %>"><%= order.id[0..4] %>...</a>

                                </th>
                                <th>
                                    <%= order.transaction.state %>
                                </th>
                                <th>
                                    <%= order.basket_amount.format %>
                                </th>
                                <th>
                                    <%= order.tax_amount.format %>
                                </th>
                                <th>
                                    <%= "#{order.transaction.payer_first_name} #{order.transaction.payer_last_name}" %>
                                </th>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
