<div class="row collapse white-section section-bottom-margin">
    <div class="large-3 medium-3 small-12 columns">
        <!-- FILTER FORM LEFT -->
        <%= render :'_account_sidebar' %>
    </div>

    <div class="large-9 medium-9 small-12 columns">
        <div class="orders">
            <h4>Your orders</h4>
            <h6>Your files will be available for 4 days from purchase.</h6>
            <hr>
        </div>
    </div>
</div>

<div class="row summary-padding">
    <div class="large-12 columns orders">
        <% @customer.orders.sort_by(&:updated_at).reverse.each do |order| %>
            <% if order.succeded? && DateTime.now <= order.completed_at.+(4*3600*24) %>
            <!-- repeat this bit-->
            <div class="row collapse">
                <div class="order-title-wrap">
                    <div class="row collapse">
                        <div class="large-6 medium-6 small-12 columns">
                            <h6 class="left-order"><%= order.completed_at.strftime('%d of %B %Y') %> |  Order ID: <%= order.id %></h6>
                        </div>
                        <div class="large-6 medium-6 small-12 columns">
                            <h6 class="right-order">Order Expires on <%= order.completed_at.+(4*3600*24).strftime('%d.%m.%Y') %></h6>
                        </div>
                    </div>
                </div>
                <div class="large-2 medium-2 small-12 columns">
                    <div class="order-summary">
                        <h6>Amount</h6>
                        <h6><%= order.payment_gross.format %></h6>
                        <hr>
                        <h6>Tax</h6>
                        <h6><%= order.tax_payment.format %></h6>
                        <hr>
                        <div class="license-inform">
                          <h6 style="font-size: 1.5em;">License</h6>
                          <h6>Please download your license. It is proof of purchase.</h6>
                          <a href="/orders/<%= order.id %>" target="_blank" download>Download License</a>
                        </div>
                    </div>
                </div>
                <div class="large-10 medium-10 small-12 columns">
                    <div class="download-wrap">
                        <h6>File Download</h6>
                        <table class="order-table">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Instrument</th>
                                    <th>Part</th>
                                    <th>File</th>
                                    <th>Weezic Version</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% order.shopping_basket.purchases.each do |purchase| %>
                                <tr>
                                    <th>
                                        <%= purchase.item.piece.title %>
                                    </th>
                                    <th>
                                        <%= purchase.item.piece.sub_heading %>
                                    </th>
                                    <th>
                                        <%= purchase.item.name %>
                                    </th>
                                    <th>
                                        <a href="<%= purchase.item.asset.url %>" download>Download</a>
                                    </th>
                                    <th title="This piece is also available in interactive form via Weezic. Weezic's interactive scores help you to learn to play music.">
                                      <a href="<%= purchase.item.piece.weezic_link %>" target="_blank">View on Weezic <i class="fa fa-info-circle"></i></a>
                                    </th>
                                </tr>
                                <% end %>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <% elsif order.succeded? %>
                <div class="row collapse">
                    <div class="order-title-wrap expired">
                        <div class="row collapse">
                            <div class="large-6 medium-6 small-12 columns">
                                <h6 class="left-order"><%= order.completed_at.strftime('%d of %B %Y') %> |  Order ID: <%= order.id %></h6>
                            </div>
                            <div class="large-6 medium-6 small-12 columns">
                                <h6 class="right-order">Order Expired on <%= order.completed_at.+(4*3600*24).strftime('%d.%m.%Y') %></h6>
                            </div>
                        </div>
                    </div>
                    <div class="large-2 medium-2 small-12 columns">
                        <div class="order-summary">
                            <h6>Amount</h6>
                            <h6><%= order.payment_gross.format %></h6>
                            <hr>
                            <h6>Tax</h6>
                            <h6><%= order.tax_payment.format %></h6>
                            <hr>
                            <h6>License</h6>
                            <a href="/orders/<%= order.id %>" target="_blank" download><h6>Download</h6></a>
                        </div>
                    </div>
                    <div class="large-10 medium-10 small-12 columns">
                        <div class="download-wrap">
                            <h6>File Download</h6>
                            <table class="order-table">
                                <thead>
                                    <tr>
                                        <th>Title</th>
                                        <th>Instrument</th>
                                        <th>Part</th>
                                        <th>File</th>
                                        <th>Weezic Version</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% order.shopping_basket.purchases.each do |purchase| %>
                                    <tr>
                                        <th>
                                            <%= purchase.item.piece.title %>
                                        </th>
                                        <th>
                                            <%= purchase.item.piece.sub_heading %>
                                        </th>
                                        <th>
                                            <%= purchase.item.name %>
                                        </th>
                                        <th>
                                            Expired - <a href="/pieces/<%= purchase.item.piece.id %>">Repurchase</a>
                                        </th>
                                        <th title="This piece is also available in interactive form via Weezic. Weezic's interactive scores help you to learn to play music.">
                                          <a href="<%= purchase.item.piece.weezic_link %>" target="_blank">View on Weezic <i class="fa fa-info-circle"></i></a>
                                        </th>
                                    </tr>
                                    <% end %>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            <% end %>
        <% end %>
    </div>
</div>
<% @order = @customer.orders.select(&:succeded?).sort_by(&:completed_at).reverse.first %>
<% if @order %>
<script charset="utf-8">
ga('ecommerce:addTransaction', {
    'id': '<%= @order.id %>', // Transaction ID. Required.
    'revenue': <%= @order.payment_net %>, // Grand Total.
    'shipping': 0, // Shipping.
    'tax': <%= @order.tax_payment %>, // Tax.
    'currency': '<%= @order.currency %>'
});

<% @order.shopping_basket.purchases.each do |purchase| %>
ga('ecommerce:addItem', {
    'id': <%= @order.id %>, // Transaction ID. Required.
    'name': '<%= "#{purchase.item.piece.title}: #{purchase.item.name}" %>', // Product name. Required.
    'sku': '<%= purchase.item.id %>', // SKU/code.
    // 'price': OrderDetails[i][5], // Unit price.
    'quantity': <%= purchase.quantity %> // Quantity.
});
<% end %>
ga('ecommerce:send')
</script>
<% end %>
