<div class="row collapse white-section section-bottom-margin">
    <!-- FILTER FORM LEFT -->
    <%= render :'_account_sidebar' %>

    <div class="large-9 columns">
        <div class="search-bar-filter">
            <div class="search-bar-filter-inner">
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <h4>Your downloads</h4>
                <table class="order-table">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Title</th>
                            <th>Sub heading</th>
                            <th>Part</th>
                            <th>File</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @customer.orders.map(&:shopping_basket).flat_map(&:purchases).each do |purchase| %>
                            <tr>
                                <td>
                                    <%= purchase.shopping_basket.order.updated_at.strftime('%d/%m/%Y') %>
                                </td>
                                <td>
                                    <%= purchase.item.piece.title %>
                                </td>
                                <td>
                                    <%= purchase.item.piece.sub_heading %>
                                </td>
                                <td>
                                    <%= purchase.item.name %>
                                </td>
                                <td>
                                    <a href="<%= purchase.item.asset.url %>" target="_blank">Download</a>
                                </td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
