
<div class="row collapse white-section section-bottom-margin">
    <!-- FILTER FORM LEFT -->
    <%= render :'_account_sidebar' %>

    <div class="large-9 columns">
        <div class="search-bar-filter">
            <div class="search-bar-filter-inner">
            </div>
        </div>
        <h2><%= @customer.name %></h2>
        <% if @customer.survey_unanswered? %>
            <div class="bold">
              <a href="/customers/<%= @customer.id %>/edit#customer-questions">Tell us more</a>
            </div>
        <% end %>
        <ul>
            <li>
                <b>name </b><%= @customer.name %>
            </li>
            <li>
                <b>name </b><%= @customer.email %>
            </li>
            <li>
                <b>name </b><%= @customer.country %>
            </li>
        </ul>
    </div>
</div>
