<main class="content">
    <aside class="col col-1-5">
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/customers/<%= @customer.id %>/edit">Edit</a>
            </li>
        </ul>
    </aside>
    <article class="col col-4-5">
        <h2><%= @customer.name %></h2>
        <h3><%= @customer.email %></h3>
        <div class="bold">
          <a href="/customers/<%= @customer.id %>/edit#customer-questions">Tell us more</a>
        </div>
        <ul>
            <li>
                <b>name </b><%= @customer.name %>
            </li>
            <li>
                <b>name </b><%= @customer.email %>
            </li>
            <li>
                <b>name </b><%= @customer.country %>
            </li>
        </ul>
        <h2>Available Downloads</h2>
        <ul>
            <% @customer.orders.map(&:shopping_basket).flat_map(&:purchases).each do |purchase| %>
                <a target="_blank" download href="<%= purchase.item.asset.url %>"><%= purchase.item.piece.product_name %>:<%= purchase.item.name %></a> order id: <%= purchase.shopping_basket.order.id %><br>
            <% end %>
        </ul>
    </article>
</main>
