<main class="archive">
    <aside class="sidebar">
        <ul class="menu-container">
            <li class="menu-option">
                <a class="menu-link" href="/admin/discounts">Back to discounts</a>
            </li>
        </ul>
    </aside>
    <article class="col col-4-5">

        <h2>Edit Discount '<%= @discount.code %>'</h2>
        <form class="pure-form pure-form-aligned" action="/admin/discounts/<%= @discount.id %>" accept-charset="UTF-8" enctype="multipart/form-data" method="post">
            <%= csrf_tag %>
            <input type="hidden" name="_method" value="PUT">
            <fieldset>
                <div class="pure-control-group">
                    <label for="discount_code">Code</label>
                    <input
                        id="discount_code"
                        name="discount[code]"
                        value="<%= @discount.code %>"
                        autofocus
                        required
                        placeholder="EXAMPLE001">
                </div>

                <div class="pure-control-group">
                    <label for="discount_value">Value £</label>
                    <input
                        id="discount_value"
                        name="discount[value]"
                        value="<%= @discount.value %>"
                        type="number"
                        step="0.01"
                        min="1"
                        required
                        placeholder="10.00">
                </div>

                <hr>

                <div class="pure-control-group">
                    <label for="discount_allocation">Allocation</label>
                    <input
                        id="discount_allocation"
                        name="discount[allocation]"
                        value="<%= @discount.allocation %>"
                        type="number"
                        step="1"
                        min="1"
                        max="999999"
                        required
                        placeholder="total maximum number of redemptions">
                </div>

                <div class="pure-control-group">
                    <label for="discount_customer_allocation">Customer Allocation</label>
                    <input
                        id="discount_customer_allocation"
                        name="discount[customer_allocation]"
                        value="<%= @discount.customer_allocation %>"
                        type="number"
                        step="1"
                        min="1"
                        max="9"
                        placeholder="total maximum number of redemptions per customer">
                </div>

                <hr>

                <div class="pure-control-group">
                    <label for="discount_start_datetime">Start Date</label>
                    <input
                        id="discount_start_datetime"
                        name="discount[start_datetime]"
                        value="<%= @discount.start_datetime.strftime('%Y-%m-%d') %>"
                        type="date"
                        required
                        placeholder="">
                </div>

                <div class="pure-control-group">
                    <label for="discount_end_datetime">End Date</label>
                    <input
                        id="discount_end_datetime"
                        name="discount[end_datetime]"
                        value="<%= @discount.end_datetime.strftime('%Y-%m-%d') %>"
                        type="date"
                        required
                        placeholder="">
                </div>

                <hr>

                <div class="pure-controls">
                    <button type="submit" class="submit">Submit</button>
                </div>
            </fieldset>
        </form>
    </article>
</main>
