<main class="content">
    <aside id="">
      <ul>
          <li>
              <a href="/">Home</a>
          </li>
      </ul>
    </aside>
    <article>
        <h2>Edit Item</h2>
        <p>
          Edit item <%= @item.id %> Which belongs to piece <%= @item.piece.catalogue_number %>
        </p>
        <li>
          <em>Catalogue Number:</em> <%= @item.piece.catalogue_number %>
        </li>
        <li>
          <em>Product Name:</em> <%= @item.piece.product_name %>
        </li>
        <hr>
        <form class="pure-form pure-form-aligned" action="/items/<%= @item.id %>" accept-charset="UTF-8" enctype="multipart/form-data" method="post">
            <fieldset>

                <select name="piece[item][][type]" style="display:none">
                    <option value=></option>
                    <option value="audio">Audio</option>
                    <option value="part">Part</option>
                </select>

                <input name="[item][name]" type="text" placeholder="Name" value="<%= @item.name %>">
                <input name="[item][initial_price]" type="number" min="0" step="0.01" placeholder="initial price" value="<%= @item.initial_price %>">
                <input name="[item][subsequent_price]" type="number" min="0" step="0.01" placeholder="subsequent price" value="<%= @item.subsequent_price %>">
                <hr>
                <p>
                  Leave blank to use <a href="<%= @item.asset.url %>" target="_blank">exisiting asset</a>
                </p>
                <input type="file" name="[item][asset]" placeholder="asset">
            </fieldset>
            <div class="pure-controls">
                <button type="submit" class="pure-button pure-button-primary">Submit</button>
            </div>
        </form>
    </article>
</main>
