<div class="row">
    <div class="columns large-12">

        <table class="shopping-basket">
            <thead class="top">
                <tr>
                    <th>Catalogue number</th>
                    <th>Product name</th>
                    <th>Instrument</th>
                    <th>Quantity</th>
                    <th>Initial Price</th>
                    <th>Discounted Price</th>
                    <th>Total</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                <!-- TODO test sorting -->
                <% @basket.purchases.sort_by{|p| p.item.piece.id}.each do |purchase| %>
                <tr>
                    <td>
                        UD<%= purchase.item.piece.id %>
                    </td>
                    <td>
                        <a href="/pieces/<%= purchase.item.piece.id %>">
                            <%= purchase.item.piece.product_name %>
                        </a>
                    </td>
                    <td>
                        <%= purchase.item.name %>
                    </td>
                    <td>
                        <form id="form_id" action="/purchases/<%= purchase.id %>" method="post">
                            <%= csrf_tag %>
                            <input type="hidden" name="_method" value="PUT">
                            <input type="number" min="1" step="1" name="purchase[quantity]" value="<%= purchase.quantity %>" style="display:inline;width:4em;">
                            <input class="button tiny" type="submit" value="Update">
                        </form>
                    </td>
                    <td>
                        <%= purchase.item.initial_price.format %>
                    </td>
                    <td>
                        <%= purchase.item.subsequent_price.format %>
                    </td>
                    <td>
                        <%= purchase.price.format %>
                    </td>
                    <td>
                        <form id="form_id" action="/purchases/<%= purchase.id %>" method="post">
                            <%= csrf_tag %>
                            <input type="hidden" name="_method" value="DELETE">
                            <input class="button tiny alert" type="submit" value="Remove">
                        </form>
                    </td>
                </tr>
                <% end %>
            </tbody>
            <thead class="top">
                <tr>
                    <th colspan="5">
                    </th>
                    <th>
                        Total
                    </th>
                    <th>
                        <%= @basket.price.format %>
                    </th>
                    <th>
                    </th>
                </tr>
                <tr>
                    <th colspan="2">
                    </th>
                    <th>
                        VAT is charged at your local<br> rate for customers in the EU:
                    </th>
                    <th colspan="1">
                    </th>
                    <th>
                        <%= current_customer.country || 'Login to provide Country' %>
                    </th>
                    <th>
                        <%= current_customer.vat_rate.to_s %>
                    </th>
                    <th>
                        <%= (current_customer.vat_rate * @basket.price).format %>
                    </th>
                    <th>

                    </th>
                </tr>
                <tr>
                    <th colspan="5">
                    </th>
                    <th>
                        Total
                    </th>
                    <th>
                        <%= ((current_customer.vat_rate * @basket.price) + @basket.price).format %>
                    </th>
                    <th>
                    </th>
                </tr>
            </thead>
        </table>
    </div>
</div>
<div class="row">
    <div class="columns large-6">
        <a class="button success" href="/pieces">Continue Shopping</a>
        <form class="as-button" id="form_id" action="/shopping_baskets/<%= @basket.id %>" method="post">
            <%= csrf_tag %>
            <input type="hidden" name="_method" value="DELETE">
            <input class="button alert" type="submit" value="Clear Basket">
        </form>
    </div>
    <div class="columns large-6">
        <div class="checkout-actions">
            <h6>
                Do you have a discount or free download code? Please enter it here:
            </h6>
            <div class="row collapse">
                <div class="large-12 columns">
                    <form id="checkout-button" action="/orders" method="post" class="right">
                        <%= csrf_tag %>
                        <!-- <input type="hidden" name="order[shopping_basket]" value="<%= @basket.id %>"> -->
                        <div class="row">
                            <div class="columns large-5">
                                <input type="text" name="discount" value="" placeholder="Discount Code">
                            </div>
                            <div class="columns large-7">
                                <button class="updatecart-btn">Apply Discount</button>
                            </div>
                        </div>
                        <% if current_customer.guest? %>
                        <div class="row">
                            <div class="large-5 columns">
                                <p class="right" style="text-align:right;font-size:150%" title="Downloads can be large files and will be available in your account for 4 days from purchase">
                                    Existing User?
                                </p>
                                <p class="right" style="text-align:right;font-size:150%" title="Downloads can be large files and will be available in your account for 4 days from purchase">
                                    New Customer?
                                </p>
                            </div>
                            <div class="large-7 columns">
                                <a class="button checkout-option-1" href="/sessions/new?requested_path=<%= request.path %>">Login and checkout<i class="fa fa-arrow-right checkout-icon"></i></a>
                                <a class="button checkout-option-2" href="/customers/new?success_path=<%= request.path %>">Create account and checkout<i class="fa fa-arrow-right checkout-icon"></i></a>
                            </div>
                        </div>
                        <% else %>
                        <div class="row">
                            <div class="large-5 columns">
                                <p>Secure PayPal Checkout:</p>
                            </div>
                            <div class="large-7 columns">
                                <a class="button checkout-secure-btn" href="/">Checkout<i class="fa fa-arrow-right checkout-icon"></i></a>
                            </div>
                        </div>
                        <% end %>
                    </form>
                </div>
            </div>
        </div>
        <div class="secure">
            <div class="row">
                <div class="large-6 columns">
                    <h6>Useful Music uses secure payments by PayPal</h6>
                </div>
                <div class="large-6 columns">
                    <table border="0" cellpadding="10" cellspacing="0" align="center">
                        <tr>
                            <td align="center">
                            </td>
                        </tr>
                        <tr>
                            <td align="center">
                                <a href="https://www.paypal.com/uk/webapps/mpp/paypal-popup" title="How PayPal Works" onclick="javascript:window.open('https://www.paypal.com/uk/webapps/mpp/paypal-popup','WIPaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=1060, height=700'); return false;">
                                    <img src="https://www.paypalobjects.com/webstatic/mktg/Logo/pp-logo-200px.png" border="0" alt="PayPal Logo">
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="columns large-6">
        <a class="button success" href="/pieces">Continue Shopping</a>
        <form class="as-button" id="form_id" action="/shopping_baskets/<%= @basket.id %>" method="post">
            <%= csrf_tag %>
            <input type="hidden" name="_method" value="DELETE">
            <input class="button alert" type="submit" value="Clear Basket">
        </form>
        <!-- <form class="discount-code right" action="index.html" method="post">
            <input type="text" name="name" value="" placeholder="Discount Code">
            <input class="button" onclick="alert('Coming soon')" type="button" name="name" value="Submit" >
        </form> -->
    </div>
    <div class="columns large-6">
        <% if current_customer.customer? %>
            <% if RACK_ENV == 'production' %>
            <div class="row collapse">
                <div class="large-12 columns flash" style="background-color:grey;">
                    <h2>
                        Wow you were quick! We are just finalising the site. Don't worry your shopping basket has been saved. Thank you for visiting Useful Music and why not join our <a href="http://eepurl.com/bgyKh1">mailing list</a>
                    </h2>
                </div>
            </div>
            <% else %>
            <form id="checkout-button" action="/orders" method="post" class="right">
                <%= csrf_tag %>
                <!-- <input type="hidden" name="order[shopping_basket]" value="<%= @basket.id %>"> -->
                <div class="row">
                    <div class="columns large-6">
                        <input type="text" name="discount" value="" placeholder="Discount Code">
                    </div>
                    <div class="columns large-6">
                        <input type="image" src="https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif" align="left" style="margin-right:7px;" alt="Submit Form" class="right"/>
                    </div>

                </div>
            </form>
            <% end %>
        <% else %>
            <p class="right" style="text-align:right;font-size:150%" title="Downloads can be large files and will be available in your account for 4 days from purchase">
                Please <a class="button" href="/sessions/new?requested_path=<%= request.path %>">login and checkout</a> or <a class="button" href="/customers/new?success_path=<%= request.path %>">create account and checkout</a>
            </p>
        <% end %>
    </div>

</div>
<div class="row">
    <div class="columns large-12">
        <% if current_customer.customer? %>
        <!-- <form id="checkout-button" action="/orders" method="post" class="right">
            <%= csrf_tag %>
            <input type="hidden" name="order[shopping_basket]" value="<%= @basket.id %>">
            <input type="text" name="name" value="" placeholder="Discount Code">
            <input type="image" src="https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif" align="left" style="margin-right:7px;" alt="Submit Form" class="right"/>
        </form> -->
        <% else %>
        <!-- <p class="right" style="text-align:right;font-size:150%" title="Downloads can be large files and will be available in your account for 4 days from purchase">
            Please <a class="button" href="/sessions/new">login and checkout</a> or <a class="button" href="/customers/new">create account and checkout</a>
        </p> -->
        <% end %>
    </div>
</div>
