<div class="row">
    <div class="columns large-12">

      <div class="mobile-checkout-head hide-for-medium-up">
        <h2>Basket</h2>
        <h5>Here is your order summary:</h5>
      </div>
      <div class="hide-for-medium-up">
        <table>
          <thead class="top">
            <tr>
              <th width="50%">Name</th>
              <th width="50%">Quantity</th>
              <th width="50%">Total Price</th>
            </tr>
          </thead>
          <tbody>
              <% @basket.purchases.sort_by{|p| p.item.piece.id}.each do |purchase| %>
              <tr>
                <td>
                  <a href="/pieces/<%= purchase.item.piece.id %>">
                    <%= purchase.item.piece.product_name %>
                  </a>
                </td>
                <td>
                  <form id="form_id" action="/purchases/<%= purchase.id %>" method="post">
                      <%= csrf_tag %>
                      <input type="hidden" name="_method" value="PUT">
                      <input type="number" min="1" step="1" name="purchase[quantity]" value="<%= purchase.quantity %>" style="display:inline;width:4em;">
                      <input class="button mobile-alert" type="submit" value="Update">
                  </form>
                  <form id="form_id" action="/purchases/<%= purchase.id %>" method="post">
                      <%= csrf_tag %>
                      <input type="hidden" name="_method" value="DELETE">
                      <input class="button alert mobile-alert" type="submit" value="Remove">
                  </form>
                </td>
                <td>
                  <%= purchase.price.format %>
                </td>
              </tr>
              <% end %>
          </tbody>
        </table>
      </div>

        <table class="shopping-basket hide-for-small">
            <thead class="top">
                <tr>
                    <th width="50" class="hide-for-medium-only hide-for-small-only">Catalogue number</th>
                    <th>Product name</th>
                    <th>Instrument</th>
                    <th>Quantity</th>
                    <th width="50">Price</th>
                    <th>Extra Licence Price</th>
                    <th>Total</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                <!-- TODO test sorting -->
                <% @basket.purchases.sort_by{|p| p.item.piece.id}.each do |purchase| %>
                <tr>
                    <td>
                        UD<%= purchase.item.piece.id %>
                    </td>
                    <td>
                        <a href="/pieces/<%= purchase.item.piece.id %>">
                            <%= purchase.item.piece.product_name %>
                        </a>
                    </td>
                    <td>
                        <%= purchase.item.name %>
                    </td>
                    <td>
                        <form id="form_id" action="/purchases/<%= purchase.id %>" method="post">
                            <%= csrf_tag %>
                            <input type="hidden" name="_method" value="PUT">
                            <input type="number" min="1" step="1" name="purchase[quantity]" value="<%= purchase.quantity %>" style="display:inline;width:4em;">
                            <input class="button tiny" type="submit" value="Update">
                        </form>
                    </td>
                    <td>
                        <%= purchase.item.initial_price.format %>
                    </td>
                    <td>
                        <%= purchase.item.subsequent_price.format %>
                    </td>
                    <td>
                        <%= purchase.price.format %>
                    </td>
                    <td>
                        <form id="form_id" action="/purchases/<%= purchase.id %>" method="post">
                            <%= csrf_tag %>
                            <input type="hidden" name="_method" value="DELETE">
                            <input class="button tiny alert" type="submit" value="Remove">
                        </form>
                    </td>
                </tr>
                <% end %>
            </tbody>
          </table>
          <div class="row collapse">
            <div class="large-9 medium-6 small-12 columns hide-for-small">
              <div class="vat-wrap">
                <h5>How we charge VAT:</h5>
                <h6>VAT is charged at your local rate for customers in the EU. VAT is not charged for customers outside of the EU.</h6>
                <h6>You are purchasing from: <%= current_customer.country || 'Login to provide Country' %></h6>
              </div>
            </div>
            <div class="large-3 medium-6 small-12 columns">
              <table>
                <thead class="top">
                    <tr>
                      <th>
                      </th>
                        <th>
                            Total
                        </th>
                        <th>
                            <%= @basket.purchases_price.format %>
                        </th>
                    </tr>
                    <% unless @basket.discount.nil? %>
                    <tr>

                        <th width="200">
                            Discount
                        </th>
                        <th>
                            <%= @basket.discount.code %>
                        </th>
                        <th>
                            -<%= @basket.discount.value.format %>
                        </th>
                    </tr>
                    <% end %>
                    <tr>

                      <th width="200">
                        VAT
                      </th>
                      <th>
                          <%= current_customer.vat_rate.to_s %>
                      </th>
                      <th>
                          <%= (current_customer.vat_rate * @basket.price).format %>
                      </th>
                    </tr>
                    <tr>
                        <th>
                        </th>
                        <th>
                            Total
                        </th>
                        <th>
                            <%= ((current_customer.vat_rate * @basket.price) + @basket.price).format %>
                        </th>
                    </tr>
                </thead>
            </table>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="columns large-6 small-12 hide-for-small">
        <a class="button success continue-shopping" href="/pieces">Continue Shopping</a>
        <form class="as-button" id="form_id" action="/shopping_baskets/<%= @basket.id %>" method="post">
            <%= csrf_tag %>
            <input type="hidden" name="_method" value="DELETE">
            <input class="button alert clear-basket" type="submit" value="Clear Basket">
        </form>
        <% if !ENV.fetch('SUSPEND_PAYMENTS') { '' }.empty? %>
        <h6 style="color: black; margin-top: 1em;">This is (temporarily) as far as you can go.  We are still working on the checkout to make buying and downloading sheet music as simple, safe and reliable as possible.  You are welcome to stay here awhile and sample some scores and music.</h6>
        <h6 style="color: black;">Please come back soon.</h6>
        <% end %>
    </div>
    <div class="columns large-6 small-12">
        <div class="checkout-actions">
            <% if ENV.fetch('SUSPEND_PAYMENTS') { '' }.empty? %>
            <h6>
                Do you have a discount or free download code? Please enter it here:
            </h6>
            <div class="row collapse">
                <div class="large-12 columns">
                    <form class="" action="/shopping_baskets/<%= @basket.id %>" method="post">
                    <input type="hidden" name="_method" value="PATCH">
                        <%= csrf_tag %>
                        <!-- <input type="hidden" name="order[shopping_basket]" value="<%= @basket.id %>"> -->
                      <div class="row">
                            <div class="large-5 medium-6 small-12 columns">
                                <input type="text" name="shopping_basket[discount]" value="<%= @basket.discount.code %>" placeholder="Discount Code">
                            </div>
                            <div class="large-7 medium-6 small-12 columns">
                                <% if @basket.discount.nil? %>
                                    <button class="updatecart-btn">Apply Discount</button>
                                <% else %>
                                    <button class="updatecart-btn success">Change Discount</button>
                                <% end %>
                            </div>
                        </div>
                    </form>
                    <% if current_customer.guest? %>
                    <div class="row">
                        <div class="large-5 medium-6 small-12 columns">
                            <p style="text-align:right;font-size:150%" title="Downloads can be large files and will be available in your account for 4 days from purchase">
                                Existing User?
                            </p>
                            <p style="text-align:right;font-size:150%" title="Downloads can be large files and will be available in your account for 4 days from purchase">
                                New Customer?
                            </p>
                        </div>
                        <div class="large-7 medium-6 small-12 columns">
                            <a class="button checkout-option-1" href="/sessions/new?requested_path=<%= request.path %>">Login and checkout<i class="fa fa-arrow-right checkout-icon"></i></a>
                            <a class="button checkout-option-2" href="/customers/new?success_path=<%= request.path %>">Create account and checkout<i class="fa fa-arrow-right checkout-icon"></i></a>
                        </div>
                    </div>
                    <% else %>
                    <form id="checkout-button" action="/orders" method="post" class="">
                        <%= csrf_tag %>
                        <div class="row">
                            <div class="large-5 medium-6 small-12 columns">
                                <p>Secure PayPal Checkout:</p>
                            </div>
                            <div class="large-7 medium-6 small-12 columns">
                                <% if @basket.free? %>
                                    <button class="button checkout-secure-btn">Free Checkout<i class="fa fa-arrow-right checkout-icon"></i></button>
                                <% else %>
                                    <button class="button checkout-secure-btn">Checkout<i class="fa fa-arrow-right checkout-icon"></i></button>
                                <% end %>
                            </div>
                        </div>
                    </form>
                    <% end %>
                </div>
            </div>
            <% end %>
        </div>
        <div class="secure">
            <div class="row">
                <div class="large-6 columns paypal-text">
                    <h6>Useful Music uses secure payments by PayPal. Click the logo find out more about Paypal.</h6>
                </div>
                <div class="large-6 columns">
                    <table class="paypal-link" border="0" cellpadding="0" cellspacing="0" align="center">
                        <tr>
                            <td align="center">
                                <a href="https://www.paypal.com/uk/webapps/mpp/paypal-popup" title="How PayPal Works" onclick="javascript:window.open('https://www.paypal.com/uk/webapps/mpp/paypal-popup','WIPaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=1060, height=700'); return false;">
                                    <img class="paypal-logo" src="https://www.paypalobjects.com/webstatic/mktg/Logo/pp-logo-200px.png" border="0" alt="PayPal Logo">
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="small-12 columns hide-for-medium-up">
      <div class="vat-wrap">
        <h5>How we charge VAT:</h5>
        <h6>VAT is charged at your local rate for customers in the EU. VAT is not charged for customers outside of the EU.</h6>
        <h6>You are purchasing from: <%= current_customer.country || 'Login to provide Country' %></h6>
      </div>
    </div>
    <div class="columns large-6 small-12 hide-for-medium-up">
        <a class="button success continue-shopping" href="/pieces">Continue Shopping</a>
        <form class="as-button" id="form_id" action="/shopping_baskets/<%= @basket.id %>" method="post">
            <%= csrf_tag %>
            <input type="hidden" name="_method" value="DELETE">
            <input class="button alert clear-basket" type="submit" value="Clear Basket">
        </form>
    </div>
</div>
