<main class="content">
    <aside>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/pieces">Continue shopping</a>
            </li>
        </ul>
    </aside>
    <article>
      <table class="pure-table">
          <thead>
              <tr>
                  <th>Catalogue number</th>
                  <th>Item</th>
                  <th>Quantity</th>
                  <th>Initial Price</th>
                  <th>Subsequent Price</th>
                  <th>Total</th>
                  <th>Destroy</th>
              </tr>
          </thead>

          <tbody>
              <% @basket.purchase_records.map{|r| Purchase.new r}.each do |purchase| %>
                  <tr>
                      <th>
                          UD<%= purchase.item.piece.id %>
                      </th>
                      <th>
                          <%= purchase.item.name %>
                      </th>
                      <th>
                          <form id="form_id" action="/purchases/<%= purchase.id %>" method="post">
                              <%= csrf_tag %>
                              <input type="hidden" name="_method" value="PUT">
                              <input type="number" min="1" step="1" name="purchase[quantity]" value="<%= purchase.quantity %>" style="display:inline;width:2em;">
                              <input type="submit" value="Update">
                          </form>
                      </th>
                      <th>
                          <%= purchase.item.initial_price %>
                      </th>
                      <th>
                          <%= purchase.item.subsequent_price %>
                      </th>
                      <th>
                          <%= purchase.price %>
                      </th>
                      <th>
                          <form id="form_id" action="/purchases/<%= purchase.id %>" method="post">
                              <%= csrf_tag %>
                              <input type="hidden" name="_method" value="DELETE">
                              <input type="submit" value="Destroy">
                          </form>
                      </th>
                  </tr>
              <% end %>
              <tr>
                <th colspan="4">
                </th>
                <th>
                  Total
                </th>
                <th>
                  <%= Money.new(@basket.purchase_records.map{|r| Purchase.new r}.reduce(0){|t, i| t + i.price}).format %>
                </th>
                <th>

                </th>
              </tr>
          </tbody>
      </table>
      <% if current_customer.customer? %>
          <form id="form_id" action="/orders" method="post">
              <%= csrf_tag %>
              <input type="hidden" name="order[shopping_basket]" value="<%= @basket.id %>">
              <input type="text" name="order[discount_code]" value="" placeholder="discount code">
              <input type="image" src="https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif" align="left" style="margin-right:7px;" alt="Submit Form" />
          </form>
      <% else %>
          <p>
            Please <a href="/authentication/login">login</a> or <a href="/customers/new">create account</a>
          </p>
          <p title="Downloads can be large files and will be available in your account for 4 days from purchase">Why?</p>
      <% end %>
    </article>
</main>
