<main class="content">
    <aside class="col col-1-5">
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/pieces">Continue shopping</a>
            </li>
        </ul>
    </aside>
    <article class="col col-4-5">
      <table class="pure-table">
          <thead>
              <tr>
                  <th>Catalogue number</th>
                  <th>Product name</th>
                  <th>Item</th>
                  <th>Quantity</th>
                  <th>Initial Price</th>
                  <th>Discounted Price</th>
                  <th>Total</th>
                  <th>Destroy</th>
              </tr>
          </thead>

          <tbody>
              <% @basket.purchases.each do |purchase| %>
                  <tr>
                      <th>
                          UD<%= purchase.item.piece.id %>
                      </th>
                      <th>
                          <a href="/pieces/<%= purchase.item.piece.id %>">
                              <%= purchase.item.piece.product_name %>
                          </a>
                      </th>
                      <th>
                          <%= purchase.item.name %>
                      </th>
                      <th>
                          <form id="form_id" action="/purchases/<%= purchase.id %>" method="post">
                              <%= csrf_tag %>
                              <input type="hidden" name="_method" value="PUT">
                              <input type="number" min="1" step="1" name="purchase[quantity]" value="<%= purchase.quantity %>" style="display:inline;width:2em;">
                              <input type="submit" value="Update">
                          </form>
                      </th>
                      <th>
                          <%= purchase.item.initial_price.format %>
                      </th>
                      <th>
                          <%= purchase.item.subsequent_price.format %>
                      </th>
                      <th>
                          <%= purchase.price.format %>
                      </th>
                      <th>
                          <form id="form_id" action="/purchases/<%= purchase.id %>" method="post">
                              <%= csrf_tag %>
                              <input type="hidden" name="_method" value="DELETE">
                              <input type="submit" value="Remove">
                          </form>
                      </th>
                  </tr>
              <% end %>
          </tbody>
          <thead>
              <tr>
                <th colspan="5">
                </th>
                <th>
                  Total
                </th>
                <th>
                  <%= @basket.price.format %>
                </th>
                <th>
                    <form id="form_id" action="/shopping_baskets/<%= @basket.id %>" method="post">
                        <%= csrf_tag %>
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="submit" value="Clear Basket">
                    </form>
                </th>
              </tr>
          </thead>

      </table>
      <% if current_customer.customer? %>
          <form id="form_id" action="/orders" method="post">
              <%= csrf_tag %>
              <input type="hidden" name="order[shopping_basket]" value="<%= @basket.id %>">
              <input type="text" name="order[discount_code]" value="" placeholder="discount code">
              <input type="image" src="https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif" align="left" style="margin-right:7px;" alt="Submit Form" />
          </form>
      <% else %>
          <p>
            Please <a href="/authentication/login">login</a> or <a href="/customers/new">create account</a>
          </p>
          <p title="Downloads can be large files and will be available in your account for 4 days from purchase">Why?</p>
      <% end %>
    </article>
</main>
