<header>
  <div class="ribbon inverted">
    <section class="content">
      <ul class="social-list">
        <li>
          <i class="fa fa-facebook fa-fw"></i>
        </li>
        <li>
          <i class="fa fa-youtube fa-fw"></i>
        </li>
        <li>
          <i class="fa fa-twitter fa-fw"></i>
        </li>
        <li>
          <i class="fa fa-soundcloud fa-fw"></i>
        </li>
        <li>
          <i class="fa fa-google-plus fa-fw"></i>
        </li>
      </ul>
      <ul class="currency-list">
        <li>
          <i class="fa fa-eur fa-fw"></i>
        </li>
        <li>
          <i class="fa fa-jpy fa-fw"></i>
        </li>
        <li>
          <i class="fa fa-gbp fa-fw"></i>
        </li>
        <li>
          <i class="fa fa-usd fa-fw"></i>
        </li>
      </ul>
    </section>
  </div>
  <section class="content" id="top-bar">
    <img src="https://www.usefulmusic.com/image/data/logored.png" alt="" />
  </section>
  <nav class="ribbon inverted">
    <section class="content">
      <ul class="main-navigation">
        <li>Home</li>
        <li>Piano</li>
        <li>Woodwind</li>
        <li>Other Instruments</li>
        <li>Ensembles</li>
        <li>About Useful Music</li>
      </ul>

      <ul class="main-navigation right bold">
        <li>
          <a href="/my-shopping-basket"><i class="fa fa-shopping-cart"></i> Shopping Cart <%= shopping_basket.number_of_items %>:<%= shopping_basket.number_of_licenses %></a>
        </li>
      </ul>
    </section>
  </nav>
</header>
<header>
  <div class="content">
    <a href="/">
      <h1>Useful Music</h1>
    </a>
    <ul class="inline">
      <li>
        <a href="#" onclick="alert('coming soon');"><i class="fa fa-envelope"></i> Newsletter</a>
      </li>
      <li>
        <a href="/my-shopping-basket"><i class="fa fa-shopping-cart"></i> Shopping Cart <%= shopping_basket.number_of_items %>:<%= shopping_basket.number_of_licenses %></a>
      </li>
      <li>
        |
      </li>
      <% if current_customer.guest? %>
        <li>
          <b>
            <a href="/authentication/login">Login</a>
          </b>
        </li>
        <li>
          <b>
            <a href="/customers/new">Create Account</a>
          </b>
        </li>
      <% else %>
        <li>
          <b>
            <a href="/customers/<%= current_customer.id %>"><%= current_customer.name %></a>
          </b>
        </li>
        <li>
          <b>
            <a href="/authentication/logout">Logout</a>
          </b>
        </li>
      <% end %>
    </ul>
  </div>
</header>
