<div class="row collapse">
    <div class="head-bg">
        <div class="large-1 columns" style="padding-left: 0em;">
            <a href="/">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/183581/logored.png" class="logo-wrap">
            </a>
        </div>
        <div class="large-6 columns header-text">
            <h1>
                Original Sheet Music Downloads
            </h1>
            <h2>
                Selected and arranged by <a href="/about#graham-lyons">Graham Lyons</a>
            </h2>
        </div>
        <div class="large-5 columns" style="padding-right: 0em;">
            <form id="catalogue-search-input" action="/pieces/search" method="get">
                <button class="ud-search-btn" form="catalogue-search-input">

                    <div class="ud-search-submit">
                        <i class="fa fa-search search-icon"></i>
                    </div>

                </button>
                <div class="ud-search-wrap">
                    <label>Search catalogue number...</label>
                    <div class="search-field">
                        <input type="text" name="search" value="" placeholder="e.g. UD123">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="sticky show-for-large-up" data-options="sticky_on: large">
    <div class="row sticky">
        <div class="nav-bg">
            <div class="large-10 columns nav-border" style="padding-left: 0em;">

                <nav class="top-bar" data-topbar role="navigation">
                    <section class="top-bar-section">
                        <ul class="left">
                            <li>
                                <a href="/">Home</a>
                            </li>
                            <li>
                                <a href="/piano">Piano</a>
                            </li>
                            <li class="has-dropdown">
                                <a href="#">Woodwind</a>
                                <ul class="dropdown">
                                    <li><a href="/woodwind">All</a></li>
                                    <li><a href="/recorder">Recorder</a></li>
                                    <li><a href="/flute">Flute</a></li>
                                    <li><a href="/oboe">Oboe</a></li>
                                    <li><a href="/clarinet">Clarinet</a></li>
                                    <li><a href="/clarineo">Clarineo</a></li>
                                    <li><a href="/bassoon">Bassoon</a></li>
                                    <li><a href="/saxophone">Saxophones</a></li>
                                </ul>
                            </li>
                            <li class="has-dropdown">
                                <a href="#">Strings &amp; Brass</a>
                                <ul class="dropdown">
                                    <li><a href="/violin">Violin</a></li>
                                    <li><a href="/viola">Viola</a></li>
                                    <li><a href="/percussion">Percussion</a></li>
                                </ul>
                            </li>
                            <li class="has-dropdown">
                                <a href="#">Ensembles</a>
                                <ul class="dropdown">
                                    <li><a href="/duet">Duets</a></li>
                                    <!-- <li><a href="/solo_with_accompaniment">Solo with accompaniment</a></li> -->
                                    <li><a href="/trio">Trios</a></li>
                                    <li><a href="/quartet">Quartets</a></li>
                                    <li><a href="/larger_ensembles">Larger Ensembles</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="/about">About Useful Music</a>
                            </li>
                            <% if current_customer.guest? %>
                            <li>
                                <a href="/sessions/new">Login</a>
                            </li>
                            <li>
                                <a href="/customers/new">Create Account</a>
                            </li>
                            <% else %>
                            <li>
                                <a href="/customers/<%= current_customer.id %>"><%= current_customer.name %></a>
                            </li>
                            <li>
                                <form class="logout-form" id="form_id" action="/sessions" method="post">
                                    <%= csrf_tag %>
                                    <input type="hidden" name="_method" value="DELETE">
                                    <input type="submit" value="logout">
                                </form>
                            </li>
                            <% end %>
                        </ul>
                    </section>
                </nav>
            </div>
            <div class="large-2 columns basket-nav">
                <a href="/shopping_baskets/<%= shopping_basket.id %>">
                    <label>BASKET</label>
                    <label><%= shopping_basket.number_of_purchases %> ITEM(S) | <%= shopping_basket.price.format %> <i class="fa fa-shopping-cart"></i></label>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="hide-for-large-up">
  <div class="row collapse">
    <div class="small-12 columns">
      <div class="mob-menu-wrap" onclick="document.getElementById('mob-menu-display').style.display = 'inline'">
        <h3 style="float: left; color: white;">Menu</h3><i class="fa fa-reorder" style="float: left; margin-left: 0.5em; color: white; font-size: 2em;"></i>
      </div>
    </div>
  </div>
</div>

<div id="mob-menu-display">
  <div class="row">
    <div class="small-12 columns">
      <div class="mob-menu">
        <div class="close-button">
           <button class="expand close-menu-btn" onclick="document.getElementById('mob-menu-display').style.display = 'none'">Close Menu</button>
        </div>
        <a href="/"><button class="expand mob-menu-button">Home - usefulmusic.com</button></a>
        <a href="/"><button class="expand mob-menu-button">Piano</button></a>
        <button class="expand mob-menu-button" onclick="document.getElementById('sub-mob-menu-1').style.display = 'inline'">Woodwind <i class="fa  fa-caret-right" style="margin-left: 0.5em; color: white;"></i></button>

          <div id="sub-mob-menu-1" style="display: none;">
              <div class="row">
                  <div class="small-12 columns">
                    <div class="mob-menu">
                      <div class="close-button">
                          <button class="expand close-menu-btn" onclick="document.getElementById('sub-mob-menu-1').style.display = 'none'">Close Sub-Menu</button>
                            <a href="/"><button class="expand mob-sub-menu-button">ALL</button></a>
                            <a href="/"><button class="expand mob-sub-menu-button">RECORDER</button></a>
                            <a href="/"><button class="expand mob-sub-menu-button">FLUTE</button></a>
                            <a href="/"><button class="expand mob-sub-menu-button">OBOE</button></a>
                            <a href="/"><button class="expand mob-sub-menu-button">CLARINET</button></a>
                            <a href="/"><button class="expand mob-sub-menu-button">CLARINEO</button></a>
                            <a href="/"><button class="expand mob-sub-menu-button">BASSOON</button></a>
                            <a href="/"><button class="expand mob-sub-menu-button">SAXOPHONES</button></a>
                      </div>
                    </div>
                  </div>
                </div>
          </div>

          <button class="expand mob-menu-button" onclick="document.getElementById('sub-mob-menu-2').style.display = 'inline'">Strings & Brass <i class="fa  fa-caret-right" style="margin-left: 0.5em; color: white;"></i></button>

            <div id="sub-mob-menu-2" style="display: none;">
                <div class="row">
                    <div class="small-12 columns">
                      <div class="mob-menu">
                        <div class="close-button">
                            <button class="expand close-menu-btn" onclick="document.getElementById('sub-mob-menu-2').style.display = 'none'">Close Sub-Menu</button>
                              <a href="/"><button class="expand mob-sub-menu-button">VIOLIN</button></a>
                              <a href="/"><button class="expand mob-sub-menu-button">VIOLA</button></a>
                              <a href="/"><button class="expand mob-sub-menu-button">PERCUSSION</button></a>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>

            <button class="expand mob-menu-button" onclick="document.getElementById('sub-mob-menu-3').style.display = 'inline'">Ensembles <i class="fa  fa-caret-right" style="margin-left: 0.5em; color: white;"></i></button>

              <div id="sub-mob-menu-3" style="display: none;">
                  <div class="row">
                      <div class="small-12 columns">
                        <div class="mob-menu">
                          <div class="close-button">
                              <button class="expand close-menu-btn" onclick="document.getElementById('sub-mob-menu-3').style.display = 'none'">Close Sub-Menu</button>
                                <a href="/"><button class="expand mob-sub-menu-button">DUETS</button></a>
                                <a href="/"><button class="expand mob-sub-menu-button">TRIOS</button></a>
                                <a href="/"><button class="expand mob-sub-menu-button">QUARTETS</button></a>
                                <a href="/"><button class="expand mob-sub-menu-button">LARGER ENSEMBLES</button></a>
                          </div>
                        </div>
                      </div>
                    </div>
              </div>
        <a href="/"><button class="expand mob-menu-button">About Useful Music</button></a>
      </div>
    </div>
  </div>
</div>
